{{!-- Author: Cheahuychou Mao --}}

{{#each requestItems}}
{{#if shopper}}
<div id="accept-modal-{{_id}}" class="modal fade notif-action-modal accept-modal" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Accept Delivery</h3>
      </div>
      <div class="modal-body">
        <div id="payment">
          <p>Below is a summary of the delivery from {{shopper.firstName}} {{shopper.lastName}}: </p>
          {{> cost_summary}}
        </div> {{!-- end of payment --}} 

        <hr/>

        {{> card_input}}

        <hr/>

        <div id='rating-container-{{_id}}' data-rating-type='shipping' data-user='{{shopper._id}}'>
          {{> rating isRequest=true}}
        </div>
        <br class='hidden-ms hidden-sm hidden-md hidden-lg'>
        <div class='row'>
          <div class='col-xs-offset-8 col-xs-4'>
            <button class='pay-rate-button btn btn-primary btn-wide' data-id='{{_id}}' style='float: right'>Pay &amp; Rate</button>
          </div>
        </div>

      </div> {{!-- end of modal-body --}}     
    </div>
  </div>
</div>
{{/if}}
{{/each}}
