{{!-- Author: Cheahuychou Mao --}}

{{#each deliveryItems}}
<div id="close-modal-{{_id}}" class="modal fade notif-action-modal close-modal" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Close Delivery</h3>
      </div>
      <div class="modal-body">
        <div id="reimbursement">
          {{#ifContains status "claimed"}}
            <p>Below is a summary of your delivery for {{requester.firstName}} {{requester.lastName}}:</p>
            {{> cost_summary}}
            <br>
            <p><span class="text-warning"><b>WARNING:</b></span> The requester has not paid for the delivery yet! Make sure the requester pays before handing the good to him/her and closing this delivery.</p>
          {{/ifContains}}
          {{#ifContains status "accepted"}}
            <p>Below is a summary of your delivery for {{requester.firstName}} {{requester.lastName}}:</p>
            {{> cost_summary}}
            <br>
            <p><span class="text-success"><b>All set!</b></span> {{requester.firstName}} {{requester.lastName}} has accepted and paid for your delivery.</p>
          {{/ifContains}}
          {{#ifContains status "rejected"}}
            <br>
            <center class="text-danger">
            {{requester.firstName}} {{requester.lastName}} has rejected your delivery for the following reason:<br>
            <i>{{rejectedReason}}</i>
            </center>
            <br>
            <p>
              <small><i>If you've bought the item/s, please get your good/s refunded from the supermarket.</i></small>
            </p>
          {{/ifContains}}
        </div>
        <hr>
        <div id='rating-container-{{_id}}' data-rating-type='request' data-user='{{requester._id}}'>
          {{> rating isRequest=false}}
        </div>
        <br class='hidden-ms hidden-sm hidden-md hidden-lg'>
        <div class='row'>
          <div class='col-xs-offset-8 col-xs-4'>
            <button class='deliver-rate-button btn btn-primary btn-wide' data-id='{{_id}}' style='float: right'>Close &amp; Rate</button>
          </div>
        </div>

      </div> {{!-- end of modal-body --}}
    </div>
  </div>
</div>
{{/each}}
