{{!-- Author: Joseph Kuan --}}
<div class='hide-from-view'>
  <div class="contact-tooltip-{{user._id}}" id="contact-tooltip-{{user._id}}">
    {{user.firstName}} {{user.lastName}}
    <div class="user-phone">
      <a href="tel:{{user.phoneNumber}}">{{formatPhone user.phoneNumber}}</a><br>
    </div>
    <div class="shipping-rating">
      {{#ifContains user.completedShippings.length 0}}
        <i>no ratings yet</i>
      {{else}}
        <div class="star-rating">{{user.avgShippingRating}}</div>
      {{/ifContains}}
    </div>
    <div class="request-rating">
      {{#ifContains user.completedRequests.length 0}}
        <i>no ratings yet</i>
      {{else}}
        <div class="star-rating">{{user.avgRequestRating}}</div>
      {{/ifContains}}
    </div>
  </div>
</div>
