{{!-- Author: Czarina Lao --}}
<div id="deliveries-table">
  <table class="table table-hover">
    <thead>
      <tr>
        {{!-- TODO: when checkbox is selected, all checkboxes should get selected --}}
        <th><input class='header-checkbox' type='checkbox'></th>
        {{> item_headings}}
        <th>Requester</th>
        <th>Pickup Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each deliveryItems}}
      <tr class='delivery-item-row' data-id='{{_id}}' data-requester='{{requester.username}}'>
        {{!-- TODO: checkbox shouldn't appear if deliver now has been done on item --}}
        <td class='checkbox-cell'>{{#unless pickupTime}}<input class='deliveries-checkbox' type='checkbox'>{{/unless}}</td>
        {{> item_row this}}
        
        <td class='requester'><a href="#" data-toggle="modal" data-target="#contact-modal-{{requester._id}}">{{requester.firstName}} {{requester.lastName}}</a></td>
        <td class='pickup-time'>{{#if pickupTime}}{{pickupTime}}{{else}}N/A{{/if}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{!-- TODO: button should be disabled if there are no items / no items selected --}}
  <button id='deliver-items' class='btn btn-primary' data-toggle="modal" data-target='#deliver-now-modal' style='float: right' disabled>Deliver Now</button>
  {{> deliver_now}}
</div>
