{{!-- Author: Czarina Lao --}}
{{#this}}
<td class='item-name'>{{itemName}}</td>
<td class='item-quantity'>{{itemQuantity}}</td>
<td class='estimated-price'>{{estimatedPrice}}</td>
<td class='stores'>{{stores}}</td>
<td class='deadline'>{{deadline}}</td>
<td class='pickup-location'>{{pickupLocation}}</td>
<td class='tip'>{{tips}}</td>
<td class='item-description'>{{#if itemDescription}}{{itemDescription}}{{else}}N/A{{/if}}</td>
{{/this}}

