{{!-- Author: Joseph Kuan --}}
<div id="notifications-table">
  <table class="table table-hover">
    <tbody>
      {{#each requestItems}}
        {{#if shopper}}
          {{#if pickupTime}}
            {{#ifIsPast rawPickupTime ../now}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/exclamation.jpg"></img></div>
            </td>
            <td class='notification-text'>Collect your request of {{itemName}} ({{itemQuantity}}) from <a href="#" data-toggle="modal" data-target="#contact-modal-{{shopper._id}}">{{shopper.username}}</a> now!</td>
            <td>
              <div class="accept-reject-container">
                <button class='accept-notification-items btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal-{{_id}}'>Accept</button>
                <button class='reject-notification-items btn btn-danger btn-xs' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
              </div>
            </td>
            <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
            <td></td>
            </tr>
            {{else}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/checklist.png"></img></div>
            </td>
            <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) is now being delivered by <a href="#" data-toggle="modal" data-target="#contact-modal-{{shopper._id}}">{{shopper.username}}</a>! Arriving {{pickupTime}}</td>
            <td>
              <div class="accept-reject-container">
                <button class='accept-notification-items btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal-{{_id}}'>Accept</button>
                <button class='reject-notification-items btn btn-danger btn-xs' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
              </div>
            </td>
            <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
            <td></td>
            </tr>
            {{/ifIsPast}}
          {{else}}
          <tr class='notification-row'>
          <td>
            <div class='notification-icon'><img src="/images/checklist.png"></img></div>
          </td>
          <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) has been claimed by {{shopper.username}}! Contact <a href="#" data-toggle="modal" data-target="#contact-modal-{{shopper._id}}">{{shopper.username}}</a> to set a pickup time.</td>
          <td>
            <div class="accept-reject-container">
              <button class='reject-notification-items btn btn-danger btn-xs pull-right' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
            </div>
          </td>
          <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
          <td></td>
          </tr>
          {{/if}}
        {{else}}
          {{#ifIsPast rawDeadline ../now}}
          <tr class='notification-row'>
          <td>
            <div class='notification-icon'><img src="/images/expired.jpg"></img></div>
          </td>
          <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) went unclaimed and has expired.</td>
          <td></td>
          <td>
            <button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button>
          </td>
          <td>
            <button type="button" class="close close-expired-notif" data-id="{{_id}}">&times;</button>
          </td>
          </tr>
          {{/ifIsPast}}
        {{/if}}
      {{/each}}
      {{#each deliveryItems}}
        {{#if actualPrice}}
          {{#ifContains status "claimed"}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/cart.png"></img></div>
            </td>
            <td class='notification-text'>You need to deliver {{itemName}} ({{itemQuantity}}) to <a href="#" data-toggle="modal" data-target="#contact-modal-{{requester._id}}">{{requester.username}}</a>! Deliver to {{pickupLocation}} at {{pickupTime}}</td>
            <td><button class='close-notification-items btn btn-success btn-xs' data-toggle="modal" data-target='#close-modal-{{_id}}'>Close Delivery</button></td>
            <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
            <td></td>
            </tr>
          {{else}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/cart.png"></img></div>
            </td>
            <td class='notification-text'><a href="#" data-toggle="modal" data-target="#contact-modal-{{requester._id}}">{{requester.username}}</a> has {{status}} your delivery of {{itemName}} ({{itemQuantity}})!</td>
            <td><button class='close-notification-items btn btn-success btn-xs' data-toggle="modal" data-target='#close-modal-{{_id}}'>Close Delivery</button></td>
            <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
            <td></td>
            </tr>
          {{/ifContains}}
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  {{#each requestItems}}
    {{#if shopper}}
      {{> notification_item isRequest=true}}
    {{else}}
      {{#ifIsPast rawDeadline ../now}}
      {{> notification_item isRequest=true}}
      {{/ifIsPast}}
    {{/if}}
  {{/each}}
  {{#each deliveryItems}}
    {{> notification_item isRequest=false}}
  {{/each}}
</div>
