{{!-- Author: Joseph Kuan --}}
<script src='/javascripts/notifications.js'></script>

<div class='row'>
  {{#each requestItems}}
    {{#if shopper}}
      {{#if pickupTime}}
      {{!-- request items with a shopper and pickup time --}}
        <div class='col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3' id='notif-container-{{_id}}'>
          <div class='tile notification-tile' name="notification-{{_id}}" data-id='{{_id}}'>
            <div class='tile-icon' style='float: left'><img src="/images/{{#ifIsPast rawPickupTime ../now}}clipboard.png{{else}}checklist.png{{/ifIsPast}}"></img></div>
            <h4 class='tile-title'>{{itemName}}</h4>
            <p class='tile-subtitle'>Shopper: <a href="#notification-{{_id}}" data-toggle="tooltip" data-view="shopper" data-target="#contact-shopper-tooltip-{{shopper._id}}">{{shopper.username}}</a></p>
            <p class='tile-content'>{{#ifIsPast rawPickupTime ../now}}Arrived:{{else}}Arriving:{{/ifIsPast}} <br>{{pickupTime}}</p>

            <div class="accept-reject-container">
              <button class='accept-notification-items btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal-{{_id}}'>Accept</button>
              <button class='reject-notification-items btn btn-danger btn-xs' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
            </div>
          </div>
        </div>
      {{else}} {{!-- for if pickupTime --}}
      {{!-- request items with a shopper but no pickup time --}}
        <div class='col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3' id='notif-container-{{_id}}'>
          <div class='tile notification-tile' name="notification-{{_id}}" data-id='{{_id}}'>
            <div class='tile-icon' style='float: left'><img src="/images/watch.png"></img></div>
            <h4 class='tile-title'>{{itemName}}</h4>
            <p class='tile-subtitle'>Claimed by: <a href="#notification-{{_id}}" data-toggle="tooltip" data-view="shopper" data-target="#contact-shopper-tooltip-{{shopper._id}}">{{shopper.username}}</a></p>
            <p class='tile-content'><i>Contact the shopper and<br class='hidden-ms hidden-md'> set a pickup time!</i></p>

            <div class="accept-reject-container">
              <button class='reject-notification-items btn btn-danger btn-xs' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
            </div>
          </div>
        </div>
      {{/if}} {{!-- for if pickupTime --}}
    {{else}} {{!-- for if shopper --}}
      {{#ifIsPast rawDeadline ../now}}
      {{!-- expired request items --}}
        <div class='col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3' id='notif-container-{{_id}}'>
          <div class='tile notification-tile' name="notification-{{_id}}" data-id='{{_id}}'>
            <div class='tile-icon' style='float: left'><img src="/images/expired.png"></img></div>
            <h4 class='tile-title'>{{itemName}}</h4>
            <p class='tile-subtitle'><i>unclaimed</i></p>
            <p class='tile-content'><i>Sorry, this request expired!</i><br></p>

            <div>
              <button type="button" class="close-expired-notif btn btn-xs btn-inverse" data-id="{{_id}}">Close</button>
            </div>
          </div>
        </div>
      {{/ifIsPast}}
    {{/if}} {{!-- for if shopper --}}
  {{/each}} {{!-- for requestItems --}}

  {{#each deliveryItems}}
    {{#ifContains status "claimed"}}
      {{#if actualPrice}}
        <div class='col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3' id='notif-container-{{_id}}'>
          <div class='tile notification-tile' name="notification-{{_id}}" data-id='{{_id}}'>
            <div class='tile-icon' style='float: left'><img src="/images/cart.png"></img></div>
            <h4 class='tile-title'>{{itemName}}</h4>
            <p class='tile-subtitle'>Requester: <a href="#notification-{{_id}}" data-toggle="tooltip" data-view="requester" data-target="#contact-requester-tooltip-{{requester._id}}">{{requester.username}}</a></p>
            <p class='tile-content'>Deliver on: <br>{{pickupTime}}</p>

            <button class='close-notification-items btn btn-success btn-xs' data-toggle="modal" data-target='#close-modal-{{_id}}'>Close Delivery</button>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class='col-xs-12 col-ms-6 col-sm-4 col-md-4 col-lg-3' id='notif-container-{{_id}}'>
        <div class='tile notification-tile' name="notification-{{_id}}" data-id='{{_id}}'>
          <div class='tile-icon' style='float: left'><img src="/images/cart.png"></img></div>
          <h4 class='tile-title'>{{itemName}}</h4>
          <p class='tile-subtitle'>Requester: <a href="#notification-{{_id}}" data-toggle="tooltip" data-view="requester" data-target="#contact-requester-tooltip-{{requester._id}}">{{requester.username}}</a></p>
          <p class='tile-content'><i>{{status}} by requester</i></p>

          <button class='close-notification-items btn btn-success btn-xs' data-toggle="modal" data-target='#close-modal-{{_id}}'>Close Delivery</button>
        </div>
      </div>
    {{/ifContains}}
  {{/each}} {{!-- for deliveryItems --}}

  {{!-- notification item modals --}}
  {{#each requestItems}}
    {{#if shopper}}
      {{> notification_item isRequest=true}}
    {{else}}
      {{#ifIsPast rawDeadline ../now}}
      {{> notification_item isRequest=true}}
      {{/ifIsPast}}
    {{/if}}
  {{/each}}
  {{#each deliveryItems}}
    {{> notification_item isRequest=false}}
  {{/each}}
</div>

<div class="well well-lg no-notif-message hide">No notifications yet.</div>
