{{!-- Author: Joseph Kuan --}}
<script src='/javascripts/notifications.js'></script>
<div id="notifications-table">
  <table class="table table-hover">
    <tbody>
      {{#each requestItems}}
        {{#if shopper}}
          {{#if pickupTime}}
            {{#ifIsPast rawPickupTime ../now}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/exclamation.jpg"></img></div>
            </td>
            <td class='notification-text'>Collect your request of {{itemName}} ({{itemQuantity}}) from {{concat shopper.firstName shopper.lastName}} now!</td>
            <td>
              <button class='accept-notification-items btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal-{{_id}}'>Accept</button>
              <button class='reject-notification-items btn btn-danger btn-xs' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
            </td>
            <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
            </tr>
            {{else}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/checklist.png"></img></div>
            </td>
            <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) is now being delivered by {{concat shopper.firstName shopper.lastName}}! Arriving {{pickupTime}}</td>
            <td>
              <button class='accept-notification-items btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal-{{_id}}'>Accept</button>
              <button class='reject-notification-items btn btn-danger btn-xs' data-toggle="modal" data-target='#reject-modal-{{_id}}'>Reject</button>
            </td>
            <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
            </tr>
            {{/ifIsPast}}
          {{else}}
          <tr class='notification-row'>
          <td>
            <div class='notification-icon'><img src="/images/checklist.png"></img></div>
          </td>
          <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) has been claimed by {{concat shopper.firstName shopper.lastName}}!</td>
          <td></td>
          <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
          </tr>
          {{/if}}
        {{/if}}
      {{/each}}
      {{#each deliveryItems}}
        {{#if actualPrice}}
          <tr class='notification-row'>
          <td>
            <div class='notification-icon'><img src="/images/cart.png"></img></div>
          </td>
          <td class='notification-text'>You need to deliver {{itemName}} ({{itemQuantity}}) to {{concat requester.firstName requester.lastName}}! Deliver to {{pickupLocation}} at {{pickupTime}}</td>
          <td><button class='close-notification-items btn btn-success btn-xs' data-toggle="modal" data-target='#close-modal-{{_id}}'>Goods Delivered!</button></td>
          <td><button class='view-notification btn btn-default btn-xs' data-toggle="modal" data-target='#notification-modal-{{_id}}'>Details</button></td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  {{#each requestItems}}
    {{#if shopper}}
    {{> notification_item isRequest=true}}
    {{/if}}
  {{/each}}
  {{#each deliveryItems}}
    {{> notification_item isRequest=false}}
  {{/each}}
</div>
