{{!-- Author: Joseph Kuan --}}
<div id="notifications-table">
  <table class="table table-hover">
    <tbody>
      {{#each requestItems}}
        {{#if shopper}}
          {{#if pickupTime}}
            {{#ifIsPast rawPickupTime ../now}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/exclamation.jpg"></img></div>
            </td>
            <td class='notification-text'>Collect your request of {{itemName}} ({{itemQuantity}}) from {{shopper.username}} now!</td>
            <td>
              <button id='accept-notification-items' class='btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal'>Accept</button>
              <button id='reject-notification-items' class='btn btn-primary btn-xs' data-toggle="modal" data-target='#reject-modal'>Reject</button>
            </td>
            <td><button class='view-notification btn btn-primary btn-xs' data-toggle="modal" data-target='#notification-modal' data-id='{{_id}}' data-type='due-request'>Details</button></td>
            </tr>
            {{else}}
            <tr class='notification-row'>
            <td>
              <div class='notification-icon'><img src="/images/checklist.png"></img></div>
            </td>
            <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) is now being delivered by {{shopper.username}}! Arriving {{pickupTime}}</td>
            <td>
              <button id='accept-notification-items' class='btn btn-primary btn-xs' data-toggle="modal" data-target='#accept-modal'>Accept</button>
              <button id='reject-notification-items' class='btn btn-primary btn-xs' data-toggle="modal" data-target='#reject-modal'>Reject</button>
            </td>
            <td><button class='view-notification btn btn-primary btn-xs' data-toggle="modal" data-target='#notification-modal' data-id='{{_id}}' data-type='delivering-request'>Details</button></td>
            </tr>
            {{/ifIsPast}}
          {{else}}
          <tr class='notification-row'>
          <td>
            <div class='notification-icon'><img src="/images/checklist.png"></img></div>
          </td>
          <td class='notification-text'>Your request of {{itemName}} ({{itemQuantity}}) has been claimed by {{shopper.username}}!</td>
          <td></td>
          <td><button class='view-notification btn btn-primary btn-xs' data-toggle="modal" data-target='#notification-modal' data-id='{{_id}}' data-type='claimed-request'>Details</button></td>
          </tr>
          {{/if}}
        {{/if}}
      {{/each}}
      {{#each deliveryItems}}
        {{#if actualPrice}}
          <tr class='notification-row'>
          <td>
            <div class='notification-icon'><img src="/images/cart.png"></img></div>
          </td>
          <td class='notification-text'>You need to deliver {{itemName}} ({{itemQuantity}}) to {{requester.username}}! Deliver to {{pickupLocation}} at {{pickupTime}}</td>
          <td><button id='close-notification-items' class='btn btn-primary btn-xs' data-toggle="modal" data-target='#close-modal'>Goods Delivered!</button></td>
          <td><button class='view-notification btn btn-primary btn-xs' data-toggle="modal" data-target='#notification-modal' data-id='{{_id}}' data-type='delivery'>Details</button></td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  {{> notification_item}}
</div>