{{!-- Author: Cheahuychou Mao --}}

{{#each requestItems}}
{{#if shopper}}
<div id="reject-modal-{{_id}}" class="modal fade notif-action-modal reject-modal" role="dialog">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Reject Delivery</h3>
      </div>
      <div class="modal-body">
        <div class="modal-messages"></div>

        <div class="rejection">
            <p>Reason for rejection:</p>
            <select id='reason-{{_id}}' class="form-control reason">
                <option>The deliverer did not show up.</option>
                {{#if pickupTime}}
                <option>The delivered item is not what I requested for.</option>
                <option>The delivered item is not in good condition.</option>
                <option>The price of the delivered item is incorrect.</option>
                {{/if}}
                <option>I don't need the item anymore.</option>
            </select>
        </div>

        <hr>
        <div id='rating-container-{{_id}}' data-rating-type='shipping' data-user='{{shopper._id}}'>
          {{> rating isRequest=true}}
        </div>
        <br class='hidden-ms hidden-sm hidden-md hidden-lg'>
        <div class='row'>
          <div class='col-xs-offset-8 col-xs-4'>
            <button class='reject-rate-button btn btn-primary btn-wide' data-id='{{_id}}' style='float: right'>Rate</button>
          </div>
        </div>

      </div> {{!-- end of modal-body --}} 
    </div>
  </div>
</div>
{{/if}}
{{/each}}
