{{!-- Author: Czarina Lao --}}
<tr class='item' id='item-{{n}}' data-num='{{n}}'>
  <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
  <td><input id='item-name-{{n}}' type='text' name='item-name' class="form-control" required autofocus/></td>
  {{!-- TODO: fix sizing for input boxes that for numbers because they don't need to be that long --}}
  <td><input id='item-qty-{{n}}' type='string' name='item-qty' value='1' class="form-control" required/></td>
  <td>
  <div class="input-group">
      <span class="input-group-addon">$</span>
      <input id='item-price-estimate-{{n}}' type="text" name='item-price-estimate' class="price form-control" required>
    </div>
  </td>
  <td>
    {{!-- TODO: Fix size --}}
    <select multiple id='item-stores-{{n}}' name='item-stores' class="form-control">
      {{#each allStores}}
      <option>{{this}}</option>
      {{/each}}
    </select>
  </td>
  {{!-- TODO: set default item due to today's date. also set it as min --}}
  <td><input id='item-due-{{n}}' type='datetime-local' name='item-due' class="form-control datetimepicker" onfocus="setMinMaxDateTime()" required/></td>
  <td>
    {{!-- TODO: Fix size --}}
    <select id='item-pickup-location-{{n}}' name='item-pickup' class="form-control">
      {{#each allPickupLocations}}
      <option>{{this}}</option>
      {{/each}}
    </select>
  </td>
  <td>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input id='item-tip-{{n}}' type="text" name='item-tip' class="price form-control" required>
    </div>
  </td>
  <td><input id='item-description-{{n}}' type='text' name='item-description' class="form-control"/></td>
  {{!-- delete item when this button is clicked --}}
  {{!-- TODO: decide how to handle n when an item is deleted --}}
  <td><button id='item-remove-{{n}}' type="button" class="close item-remove" hidden>&times;</button></td>
</tr>
</form>