{{!-- Author: Czarina Lao --}}
<div id="request-table">
  <table class="table table-hover">
    <thead>
      <tr>
        {{> item_headings}}
        {{#if own}}
        <th>Shopper</th>
        <th>Pickup Time</th>
        {{else}}
        <th>Requester</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each requestItems}}
      <tr class='request-item-row' data-id='{{_id}}'>
        {{> item_row this}}
        {{#if ../own}}
        <td class='shopper'>{{#if shopper}}{{concat shopper.firstName shopper.lastName}}{{else}}N/A{{/if}}</td>
        <td class='pickup-time'>{{#if pickupTime}}{{pickupTime}}{{else}}N/A{{/if}}</td>
        {{/if}}

        {{!-- cancel button should only appear for own requests --}}
        {{#unless shopper}}
        {{#if ../own}}
        <td><button class='cancel-request btn btn-primary btn-sm'>Cancel</button></td>
        {{else}}
        {{!-- claim button should only appear for others' requests --}}
        {{!-- TODO: should show 'Unclaim' if has been claimed by current user --}}
        <td class='requester'>{{concat requester.firstName requester.lastName}}</td>
        <td><button class='claim-request btn btn-primary btn-sm'>Claim</button></td>
        {{/if}}
        {{/unless}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>