{{!-- Author: Czarina Lao --}}
<div class='row'>

  {{#each requestItems}}
  <div class='col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-3' id='request-tile-container-{{_id}}'>
    <div class='tile request-tile' data-id='{{_id}}' data-toggle="modal" data-target='#request-modal-{{_id}}'>
      <h4 class='tile-title'>{{itemName}}</h4>
      <p class='tile-subtitle'>{{#if shopper}}Shopper: <a href="#" data-toggle="tooltip" data-view="shopper" data-target="#contact-tooltip-{{shopper._id}}">{{shopper.username}}</a>{{else}}<i>unclaimed</i>{{/if}}</p>
      <p class='request-tile-content'>{{#if pickupTime}}{{#ifIsPast rawPickupTime ../now}}Arrived:{{else}}Arriving:{{/ifIsPast}} {{pickupTime}}{{else}}pickup time not set yet{{/if}}</p>

      {{#if ../own}}
        {{!-- cancel button should only appear for own requests --}}
        <button class='cancel-request btn btn-primary btn-sm' {{#if shopper}}disabled{{/if}}>Cancel</button>
      {{else}}
        {{!-- claim button should only appear for others' requests --}}
        <button class='claim-request btn btn-primary btn-sm' {{#if shopper}}disabled{{/if}}>Claim</button>
      {{/if}}
    </div>
  </div>
  {{/each}}

  <div class='col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-3'>
    <div class='tile add-request-tile'>
      <div class='glyphicon tile-image' id='add-request-icon'>+</div>
    </div>
  </div>

</div>

{{#each requestItems}}
<div id="request-modal-{{_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Your Request</h3>
      </div>
      <div class="modal-body">
        {{> request_item own='{{own}}' }}
      </div>     
    </div>
  </div>
</div>
{{/each}}
