<script src='/javascripts/login.js'></script>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id='about'>
  <div class='feature'>
    <img src="/images/cart.png"></img>Request for a peer grocery delivery
  </div>
  <div class='feature'>
    <img src="/images/checklist.png"></img>Deliver for others to earn pocket money
  </div>
  <div class='feature'>
    <img src="/images/wallet.png"></img>Pay using TechCash
  </div>
</div>
{{#if verificationToken}}
	<input id='username' type="hidden" value="{{username}}"></input>
	<input id='verificationToken' type="hidden" value="{{verificationToken}}"></input>
    <button id='verify-button' class='btn btn-primary'>Verify Account</button>
{{else}}
    {{>login_register}}
{{/if}}

