<script src='/javascripts/profile.js'></script>
<h1>{{title}}</h1>
<div class='profile-table-container'>
  <table class="table table-hover">
    <tbody>
    	<tr>
    	  <td>Kerberos</td>
    	  <td id='kerberos'>{{user.username}}</td>
    	</tr>
      <tr>
        <td>Full Name</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
      </tr>
    	  <td>Phone Number</td>
    	  <td>{{user.phoneNumber}}</td>
    	<tr>
    	  <td>Dorm</td>
    	  <td>{{user.dorm}}</td>
    	</tr>
    	<tr>
    	  <td>Stripe Account</td>
    	  <td>{{user.stripeEmail}}</td>
    	</tr>
    </tbody>
  </table>
</div>
<input type="button" class='btn btn-primary' data-toggle="modal" data-target="#register-modal" value='Edit Profile'></input>

<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <div class="modal-messages"></div>
        <form id='register-form' onsubmit='return checkEditForm()'>
          <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
          <input id='password-register-box' type='password' name='newPassword' placeholder='new password' required></input><br>
          <input id='confirm-password-register-box' type='password' name='confirmPassword' placeholder='confirm password' required></input><br>
          <input id='phone-number-register-box' type='text' name='newPhoneNumber' placeholder='phone number' required value={{user.phoneNumber}}></input><br>
          <select name={{user.dorm}} id='edit-dormlist' required>
            {{#each allDorms}}
            <option>{{this}}</option>
            {{/each}}
          </select><br>
          <button type="submit" id='edit-confirm-button' class='btn btn-primary btn-sm'>Confirm Changes</button>
        </form>
      </div>     
    </div>
  </div>
</div>