<script src='/javascripts/profile.js'></script>
<h1>{{title}}</h1>
<table class="table table-hover">
  <tbody>
  	<tr>
  	  <td>Kerberos</td>
  	  <td>{{user.username}}</td>
  	</tr>
  	  <td>Phone Number</td>
  	  <td>{{user.phoneNumber}}</td>
  	<tr>
  	  <td>MIT ID</td>
  	  <td>{{user.mitId}}</td>
  	</tr>
  	<tr>
  	  <td>Dorm</td>
  	  <td>{{user.dorm}}</td>
  	</tr>
  	<tr>
  	  <td>Stripe Email</td>
  	  <td>{{user.stripeEmail}}</td>
  	</tr>
  </tbody>
</table>
